html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
  }
}

canvas {
  display: block;
  width: 200px;
  height: 200px;
}
